@charset "utf-8";

button {
    width: 100%;
}

body {
    background-color: #1E6653;
}

h1 {
    color: #4C4C4C;
    background: #C0DBD2 url("../img/logo.png") no-repeat;
    padding: 5px 5px 5px 70px;
    font-weight: bolder;
}

h2 {
    color: #ffffff;
}

p {
    color: #ffffff;
}

blockquote small {
    color: #000000;
}

/************************************************************************************************************/
/****************************************** Sobreescribo Bootstrap ******************************************/
/************************************************************************************************************/

a {
    color: black;
}

a:hover {
    color: #1E6653;
}

.badge {
    background-color: #428bca;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #C0DBD2;
    border-color: black;
}

.form-control:focus {
    border-color: #C0DBD2;
}

.badge.pull-left {
    margin-right: 15px;
}

.btn-group.btn-group-vertical.btn-group-lg {
    width: 100%;
}

/************************************************************************************************************/
/************************************************ My styles *************************************************/
/************************************************************************************************************/

/***********************************************/
/*          LOGIN                              */
/***********************************************/

#loginForm .alert {
    display: none;
}

/***********************************************/
/*          HOME                               */
/***********************************************/
#notifications > li:not(:last-child), #promotions > li:not(:last-child) {
    border-bottom: dashed #000000 1px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

#notifications > li:last-child, #promotions > li:last-child {
    margin-top: -2px;
}

/***********************************************/
/*          NOTIFICATION VIEW                  */
/***********************************************/

#rememberNotificationView .btn-default {
    color: #FFF;
    background-color: #00DA09;
    font-size: x-large;
}