button {
    width: 100%;
}

body {
    background-color: #1E6653;
}

h1 {
    color: #4C4C4C;
    background: #C0DBD2 url("../img/logo.png") no-repeat;
    padding: 5px 5px 5px 70px;
    font-weight: bolder;
}

p {
    color: #ffffff;
}

blockquote small {
    color: #000000;
}


@charset "utf-8";

.badge.pull-left {
    margin-right: 15px;
}

.btn-group.btn-group-vertical.btn-group-lg {
    width: 100%;
}

/************************************************************************************************************/
/****************************************** Sobreescribo bootstrap ******************************************/
/************************************************************************************************************/

.badge {
    background-color: #428bca;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #FFF;
    background-color: #428bca;
    border-color: black;
}
