<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dental Navarra - Administración de citas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dental Navarra - Administración de citas">
    <meta name="author" content="Nahuel Barrios">

    <!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
    <!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
    <!--script src="js/less-1.3.3.min.js"></script-->
    <!--append ‘#!watch’ to the browser URL, then refresh the page. -->

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/typeahead.js-bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!--<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC' rel='stylesheet' type='text/css'>-->

    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="js/lib/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="img/favicon.png">

    <!--Libraries-->
    <script type="text/javascript" src="js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/lib/typeahead.min.js"></script>
    <script type="text/javascript" src="js/lib/hogan-2.0.0.js"></script>

    <script type="text/javascript" src="js/index.js"></script>
</head>

<body>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>Dental Navarra - Administración de citas</h1>
        </div>
    </div>

    <div class="row clearfix">

        <div class="col-md-6 column">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-check-square-o"></i>Agregar cita a paciente
                    </h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="addMeetingFormName" placeholder="Ingrese el nombre del paciente"
                                       required="required" tabindex="1">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="addMeetingFormTreatment" placeholder="¿Qué tratamiento se hizo?"
                                       required="required" tabindex="2">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea class="form-control" rows="3"
                                          placeholder="Indique cualquier comentario adicional que deba ser tenido en cuenta" tabindex="3"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" tabindex="4">
                            <i class="glyphicon glyphicon-save"></i>
                            Guardar cita
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6 column">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-user"></i>
                        Crear nuevo paciente
                    </h3>
                </div>
                <div class="panel-body">

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="addPatientFormName" placeholder="Nombre" required="required" tabindex="5">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="addPatientFormLastName" placeholder="Apellido" tabindex="6">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="addPatientFormId" placeholder="D.N.I." maxlength="8" tabindex="7">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-default" tabindex="8">
                                    <i class="glyphicon glyphicon-save"></i>
                                    Guardar nuevo paciente
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
