<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dental Navarra - Gestión de control de tratamientos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dental Navarra - Administración de citas">
    <meta name="author" content="Nahuel Barrios">

    <!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
    <!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
    <!--script src="js/less-1.3.3.min.js"></script-->
    <!--append ‘#!watch’ to the browser URL, then refresh the page. -->

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/typeahead.js-bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!--<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC' rel='stylesheet' type='text/css'>-->

    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="js/lib/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="img/favicon.ico">

    <!--Libraries-->
    <script type="text/javascript" src="js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/lib/typeahead.min.js"></script>
    <script type="text/javascript" src="js/lib/hogan-2.0.0.js"></script>

    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/app/domain/domain.js"></script>
    <script type="text/javascript" src="js/app/domain/patient.js"></script>
</head>

<body>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>Dental Navarra - Gestión de control de tratamientos</h1>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12 column">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tafalla" data-toggle="tab"><i class="fa fa-hospital-o"></i> Tafalla</a></li>
                <li><a href="#alsasua" data-toggle="tab"><i class="fa fa-hospital-o"></i> Alsasua</a></li>
                <li><a href="#milagro" data-toggle="tab"><i class="fa fa-hospital-o"></i> Milagro</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade in active" id="tafalla">
                    <div class="row">
                        <div class="col-md-6 column">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <i class="fa fa-check-square-o"></i>Agregar cita a paciente
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <form class="form-horizontal" role="form">

                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" id="addMeetingFormName"
                                                       placeholder="Ingrese el nombre del paciente"
                                                       required="required" tabindex="1">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" id="addMeetingFormTreatment"
                                                       placeholder="Tratamiento realizado"
                                                       required="required" tabindex="2">
                                            </div>
                                        </div>

                                        <div id="optionalFields">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" tabindex="3"> Es primer cirugía
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control" id="addMeetingFormImplantType"
                                                           placeholder="Tipo de implante"
                                                           required="required" tabindex="3">
                                                </div>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-primary" tabindex="4">
                                            <i class="glyphicon glyphicon-save"></i>
                                            Guardar cita
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 column">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <i class="glyphicon glyphicon-user"></i>
                                        Crear nuevo paciente
                                    </h3>
                                </div>
                                <div class="panel-body">

                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" id="addPatientFormName" placeholder="Nombre"
                                                       required="required"
                                                       tabindex="5">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="addPatientFormLastName" placeholder="Primer apellido"
                                                       tabindex="6">
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="addPatientFormSecondLastName"
                                                       placeholder="Segundo apellido"
                                                       tabindex="7">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-8">
                                                <input type="email" class="form-control" id="addPatientFormEmail" placeholder="Email"
                                                       required="required"
                                                       tabindex="8" maxlength="50">
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="addPatientFormBirthDate"
                                                       placeholder="Fec. nacimiento"
                                                       maxlength="8"
                                                       tabindex="9">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <button type="submit" class="btn btn-default" tabindex="10">
                                                    <i class="glyphicon glyphicon-save"></i>
                                                    Guardar nuevo paciente
                                                </button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="alsasua">acá va lo de Alsasua</div>

                <div class="tab-pane fade" id="milagro">acá va lo de Milagro</div>
            </div>

        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <a href="https://docs.google.com/spreadsheet/ccc?key=0AqAWn1xLDRvPdDA1Y1liWHI2LUdnS2VhR1V6SHVkUVE" class="btn btn-default"
                       role="button" target="_blank" tabindex="11">
                        <i class="fa fa-bullhorn"></i>Gestionar promociones
                    </a>
                </div>
                <div class="btn-group">
                    <a href="http://www.dentalnavarra.com/" class="btn btn-default" role="button" target="_blank" tabindex="12">
                        <i class="fa fa-globe"></i>Sitio web Dental Navara
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
