@charset "UTF-8";

/******************************************************************************************************/
/************************************* Overrides typeahead style **************************************/
/******************************************************************************************************/
.twitter-typeahead {
    width: 100%;
}

.twitter-typeahead .tt-hint {
    z-index: -1;
}

/******************************************************************************************************/
/********************************************* My styles **********************************************/
/******************************************************************************************************/

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('../fonts/Alegreya_Sans_SC/AlegreyaSansSC-Medium.ttf');
}

body {
    background-image: url("../img/witewall_3.png");
}

h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
}