@charset "utf-8";

.badge.pull-left {
    margin-right: 15px;
}

.btn-group.btn-group-vertical.btn-group-lg {
    width: 100%;
}

/************************************************************************************************************/
/****************************************** Sobreescribo bootstrap ******************************************/
/************************************************************************************************************/

.badge {
    background-color: #428bca;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #FFF;
    background-color: #428bca;
    border-color: black;
}